{{#each erros}}
    <div class="alert alert-denger"></div>
{{else}}

{{/each}}
<div class="card">
    <div class="card-body">
        <form action="/admin/postagens/nova" method="POST">
            <h4>Nova postagem</h4>
            <label for="titulo">Titulo: </label>
            <input type="text" name="titulo" class="form-control">
            
            <label for="titulo">Slug: </label>
            <input type="text" name="slug" class="form-control">

            <label for="descricao">Descrição: </label>
            <input type="text" name="descricao" class="form-control">

            <label for="conteudo">Contepudo: </label>
            <textarea name="conteudo" class="form-control"></textarea>

            <label for="categoria"></label>
            <select name="categoria" class="custom-select mb-3">
                {{#each categorias}}
                    <option value="{{_id}}">{{nome}}</option>
                {{else}}
                   <option value="">Nenhuma categoria registrada</option>
                {{/each}}
            </select>

            <button class="btn btn-success" type="submit">Criar postagem</button>
        </form>
    </div>
</div>