{{#each erros}}
    <div class="alert alert-danger">{{texto}}</div>
    {{else}}

{{/each}}
<h3>Editar categoria:</h3>
<div class="card">
    <div class="card-body">
        <form action="/admin/categorias/edit" method="POST">
        <input type="hidden" name="id" value="{{categoria._id}}">
            <label for="nome">Nome: </label>
            <input type="text" id="nome" name="nome" placeholder="{{categoria.nome}}" class="form-control">
            <label for="slug">Slug: </label>
            <input type="text" id="slug" name="slug" placeholder="{{categoria.slug}}" class="form-control">
            <br />
            <button type="submit" class="btn btn-success">Editar categoria</button>
        </form>
    </div>
</div>