{{#each erros}}
    <div class="alert alert-denger"></div>
{{else}}

{{/each}}
<div class="card">
    <div class="card-body">
        <form action="/admin/postagem/edit" method="POST">
        <input type="hidden" value="{{postagem._id}}" name="id">
            <h4>Editar postagem</h4>
            <label for="titulo">Titulo: </label>
            <input type="text" name="titulo" class="form-control" placeholder="{{postagem.titulo}}">
            
            <label for="titulo">Slug: </label>
            <input type="text" name="slug" class="form-control" placeholder="{{postagem.slug}}">

            <label for="descricao">Descrição: </label>
            <input type="text" name="descricao" class="form-control" placeholder="{{postagem.descricao}}">

            <label for="conteudo">Conteúdo: </label>
            <textarea name="conteudo" class="form-control" placeholder="{{postagem.conteudo}}"></textarea>

            <label for="categoria"></label>
            <select name="categoria" class="custom-select mb-3">
                {{#each categorias}}
                    <option value="{{_id}}">{{nome}}</option>
                {{else}}
                   <option value="">Nenhuma categoria registrada</option>
                {{/each}}
            </select>

            <button class="btn btn-success" type="submit">Editar postagem</button>
        </form>
    </div>
</div>