<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">Green Panel</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Inicio <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/categorias">Categorias</a>
      </li>
      {{!-- Caso esteja logado, não irá exibir o botão de login e registro --}}
      {{!-- Ele está pegando dados da variavel global user, ou seja, se existir algum usuário, não mostrar nada --}}
      {{#if user}}
      <li class="nav-item">
        <a class="nav-link" href="/usuarios/logout">Sair</a>
      </li>
      {{else}}
      <li class="nav-item">
        <a class="nav-link" href="/admin/postagens">Postagens</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/usuarios/login">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/usuarios/registro">Registro</a>
      </li>
      {{/if}}
    </ul>
  </div>
</nav>