<div class="jumbotron">
  <h1 class="display-4">Bem vindo ao Blog do Node</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Crie uma conta</a>
</div>

<hr>

<h2>Postagens recentes</h2>

{{#each postagens}}

<div class="card mt-3 mb-3">
    <div class="card-body">
        <small>{{categoria.nome}}</small>
        <hr>
        <h3>{{titulo}}</h3>
        <p>{{descricao}}</p>
        <a href="/postagem/{{slug}}"><button class="btn btn-success">Leia mais</button></a>
        <hr>
        <small>Data de publicação: {{data}}</small>
    </div>
</div>

{{else}}
    <h5>Nenhuma postagem</h5>
{{/each}}