<h3>Logue-se:</h3>

<div class="card">
    <div class="card-body">
        <form action="/usuarios/login" method="post">
            <label for="email">Email: </label>
            <input type="email" name="email" class="form-control">

            <label for="email">Senha: </label>
            <input type="password" name="senha" class="form-control">

            <button type="submit" class="btn btn-success mt-3">Entrar</button>
        </form>
    </div>
</div>