<h2>Categoria: {{categoria.nome}}</h2>

{{#each postagens}}

<div class="card mt-3 mb-3">
    <div class="card-body">
        <small>{{categoria.nome}}</small>
        <hr>
        <h3>{{titulo}}</h3>
        <p>{{descricao}}</p>
        <a href="/postagem/{{slug}}"><button class="btn btn-success">Leia mais</button></a>
        <hr>
        <small>Data de publicação: {{data}}</small>
    </div>
</div>

{{else}}
    <h5>Nenhuma postagem</h5>
{{/each}}