<div class="card shadow-sm">
    <div class="card-body">
        <h1>{{postagem.titulo}}</h1>
        <hr>
        <small>Data de publicação: {{postagem.data}}</small> <br />
        <hr>
        {{postagem.conteudo}}
    </div>
</div>